h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

header {
    position:relative;
}
.site-title {
    margin-bottom:20px; 
}

.topmenu a {
    color: #777;
    display: block;
    margin: 0;
    padding: 19px 10px 19px 10px;
    position: relative;
}
.topmenu a.active {
    color: #ed564b;
}

#myCarousel {
    max-height: 550px;
    position: relative;
    background: #000;
}

img.grayscale {
    filter: grayscale(100%);
}

.btn-slide {
    background: rgba(255,255,255,0.2);
    display: block;
    text-transform: uppercase;
    color: #fff;
    width: 150px;
    border: 1px solid #fff;
    padding: 5px 0px;
    margin: 10px auto;
    font-weight: bold;
    color: #fff;
}

.doverlay {
    background-image: url(img/overlay.png);
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top:0px;
    z-index: 100;
    opacity: 100%;
}

.carousel-inner {
    max-height: 550px;
}

.carousel-caption {
    width: 800px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -400px;
    text-align: center;
    z-index: 120;
    color: #fff;
}

.carousel-caption h5{
    text-transform: uppercase;
    font-size: 36px;
    color: #fff;
}

.carousel-control {
    z-index:121;
    opacity: 100%;
    width: 50px;
    height: 100px;
    position: absolute;
    top:50%;
    margin-top: -50px;
    background-color: #ed564b;
}

.carousel-control span {
    font-size:xx-large
}

.carousel-control:hover {
    background-color: white;
    color:red;
}

.widgets {
    padding: 40px 0px;
    background: #ed564b;
    border-top: 5px solid #f96b61;
    border-bottom: 5px solid #f96b61;
    color: #fff;
    text-align: center;
}

.homewidget span{
    border: 5px solid #fff;
    background: transparent;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: block;
    line-height: 60px;
    text-align: center;
    margin: 0px auto;
    font-size: 20px;
}

 .fa-solid::before {
    display: inline-block;
    text-rendering: auto;
    font: var(--fa-font-solid);
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

.fa-martini-glass::before {
    content: "\f57b";
}

.fa-star::before {
    content: "\f005";
}

.fa-heart::before {
    content: "\f004";
}

.section-wide {
    margin-top: 40px;
}

.section-title p {
    font-weight: bold;
    border-bottom: 1px solid #dfdfdf;
    color: #aaa;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.section-title h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

.hthumb {
    position:relative;
}

.hthumb a img {
    height: auto;
    max-width: 100%;
}

.box-items h3 {
    text-align: center;
    color: black;
    font-size: 14px;
}

.second {
    margin-bottom:40px;
}
.second h3{
    text-align: left;
    font-size:16px;
}
.hthumb p {
    font-size: 14px;
    color:#606060;
}

.post-info {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
}

.post-links {
    color: #f4473a;
    font-size: 14px;
    text-decoration: none;
}

.bottom {
    padding: 20px 0px 40px 0px;
    background: #3b3b3b;
    border-top: 5px solid #ed564b;
}

.bottom h3 {
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px 0px;
}

.bottom p {
    padding: 5px 0px;
    margin: 0;
    line-height: 1.5;
    color: #aaa;
    font-size: 14px;
}

.ulbottom {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.ulbottom li{
    height: 100%;
    line-height: 18px;
    border-bottom: 1px dotted rgba(255,255,255,.2);
}

.ulbottom a {
    padding: 7px 0px;
    color: #aaa;
    font-size: 14px;
    display:block;
}

#copyright {
    background-color: #292929;
    padding: 20px 0px;
    font-size: 12px;
    color: white;
}

.copyright-text a {
    color: white;
}




